@use 'variables' as *
.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  max-width: 480px
    
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
figcaption 
  font-weight: normal !important

.banner-interno__titulo
  &__icono 
    background-color: $color-sistema-texto
    i
      color: $white !important
  h2
    color: $white !important


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/temas/bg/mini-portada.png') !important
  background-position: top left
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ul--color.color-adicional-2 li > i:first-of-type  
  color: $color-adicional-2  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.ct-color-acento-botones
  color: $color-acento-botones
.ct-secundario 
  color: $color-secundario !important
.ct-acento-contenido 
  color: $color-acento-contenido !important
.w-fit
  width: fit-content
.columns-2
  columns: 2
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important
.br-top
  border-top-left-radius: 20px 
  border-top-right-radius: 20px 
.br-left
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px 
.br-right
  border-top-right-radius: 20px 
  border-bottom-right-radius: 20px 
.tabs-a__tab__text 
  white-space: normal
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important
.slyder-f__btn i
  color: $color-acento-botones

.p-full-width
  padding: 3rem 3.5rem !important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-image: url(../assets/curso/temas/bg/1.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
  &-2
    background-image: url(../assets/curso/temas/bg/2.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
  &-3
    background-image: url(../assets/curso/temas/bg/3.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
  &-4
    background-image: url(../assets/curso/temas/bg/4.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
  &-5
    background-image: url(../assets/curso/temas/bg/5.png)
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom
.bg-color
  &-1
    background-color: #8DF1A8
  &-2
    background-color: #D2E1F1
  &-3
    background-color: #F1FBFF
  &-4
    background-color: #9CB4E2
  &-5
    background-color: #C8F0FF
  &-6
    background-color: #F3F9FF
  &-7
    background-color: #E5ECF8
  &-8
    background-color: #FFE7B2
  &-9
    background-color: #FFF4F1
  &-10
    background-color:  #FFF9EB
.bgcompl
  &-1
    background: url(../assets/curso/temas/bg/6.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    margin-inline: -3.4rem
    @media screen and (max-width: 992px)
      margin-inline: -3rem  
      background-size: cover 
    @media screen and (max-width: 767px)
      margin-inline: -1.4rem  
      background-size: cover   
  &-2
    background: #FFF9EB
    background-size: 100% 100%
    background-repeat: no-repeat
    margin-inline: -3.4rem
    @media screen and (max-width: 992px)
      margin-inline: -3rem  
      background-size: cover 
    @media screen and (max-width: 767px)
      margin-inline: -1.4rem  
      background-size: cover  

.w-80x
  width: 80px
.subt
  display: flex
  align-items: center
  position: relative  
  width: fit-content  
  img
    width: 48px
    z-index: 1
  h3 
    z-index: 1
  &::before
    content: ''
    position: absolute
    background-color: #77D9FE
    border-radius: 100px
    width: 100%
    height: 75%
    left: 4px
    z-index: 0
  @media (max-width: $bp-max-sm)
    h3 
      padding-bottom: 1px
    &::before
      height: 96%
.subt2
  display: flex
  align-items: center
  position: relative  
  width: fit-content  
  img
    width: 15px
    z-index: 1
    margin-left: 10px
    padding-bottom: 7px
  h4 
    z-index: 1
    padding-bottom: 7px
  &::before
    content: ''
    position: absolute
    background-color: #77D9FE
    border-radius: 100px
    width: 100%
    height: 5px
    left: 0px
    bottom: 0px
    z-index: 0
.tabla-a 
  &.color-primario
    thead
      background-color: $color-acento-contenido
      th
        text-align: left
    tbody
      td
        padding: 0.65em
  &.min-w table
    min-width: 600px
.tarjeta-numerada.color-adicional-1
  border-color: $color-adicional-1
  .tarjeta-numerada__numero
    background-color: $color-adicional-1
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important
.tabs-a__tab
  background-color: #9CB4E2
.tabs-c.color-acento-botones 
  .tabs-c__tab--active
    font-weight: bold
    background-color: $white !important
  .tabs-c__tab
    background-color: #9CB4E2
    border-bottom-color: #0944B7
.linea-tiempo-c__header
  &__btn--left, &__btn--right
    background-color: $color-acento-botones
    border-color: $color-acento-botones
.pasos-a .text-end
  text-align: left !important
.acordion
  &__activo
    background-color: #FFF4F1
  &__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
.linea-tiempo-d
  &__item--selected .linea-tiempo-d__item__content
    background-color: #FFF4F1
    border-radius: 5px
  &__item--selected .linea-tiempo-d__item__content__title
    background-color: #FFF4F1
    border-radius: 5px
  &__item__number
    background-color: #68C882
  &__item__content__title
    background-color: #9CB4E2
    border-radius: 5px
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  font-style: normal !important

.tarj-esp
  border: 1px solid #B0C0D2
  border-radius: 25px
  display: flex
  justify-content: center
  align-items: center
  span
    font-weight: bold
    font-size: 25px
    padding: 0px 5px
    &.plus
      color: $color-adicional-1
      font-weight: bold
      font-size: 60px
  @media (max-width: $bp-max-xs)
    span 
      font-size: 20px
      &.plus
        font-size: 40px
  &.big
    @media (max-width: $bp-max-sm)
      flex-wrap: wrap



/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 