@use 'variables' as *

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  max-width: 480px
    
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
figcaption 
  font-weight: normal !important

.banner-interno__titulo
  &__icono 
    background-color: $color-sistema-texto
    i
      color: $white !important
  h2
    color: $white !important


/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/temas/bg/mini-portada.png') !important
  background-position: top left
.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ul--color.color-adicional-2 li > i:first-of-type  
  color: $color-adicional-2  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.ct-color-acento-botones
  color: $color-acento-botones
.ct-secundario 
  color: $color-secundario !important
.ct-acento-contenido 
  color: $color-acento-contenido !important
.w-fit
  width: fit-content
.columns-2
  columns: 2
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important
.br-top
  border-top-left-radius: 20px 
  border-top-right-radius: 20px 
.br-left
  border-top-left-radius: 20px 
  border-bottom-left-radius: 20px 
.br-right
  border-top-right-radius: 20px 
  border-bottom-right-radius: 20px 
.tabs-a__tab__text 
  white-space: normal
.l-circle i.fa-circle
  font-size: 6px
  top: 10px !important
  

.p-full-width
  padding: 3rem 3.5rem !important
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: #8DF1A8
.bgcompl
  &-1
    background: url(../assets/curso/temas/bg/6.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    margin-inline: -3.4rem
    @media screen and (max-width: 992px)
      margin-inline: -3rem  
      background-size: cover 
    @media screen and (max-width: 767px)
      margin-inline: -1.4rem  
      background-size: cover   

.subt
  display: flex
  align-items: center
  position: relative  
  width: fit-content  
  img
    width: 48px
    z-index: 1
  h3 
    z-index: 1
  &::before
    content: ''
    position: absolute
    background-color: #77D9FE
    border-radius: 100px
    width: 100%
    height: 75%
    left: 4px
    z-index: 0
  @media (max-width: $bp-max-sm)
    h3 
      padding-bottom: 1px
    &::before
      height: 96%




/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  
 